@tailwind base;
@tailwind components;
@tailwind utilities;

input:checked + div {
  @apply border-success-300;
}

input:checked + div svg {
  @apply block;
}

@layer base {
  html {
    font-family: "Poppins", "Montserrat", system-ui, sans-serif;
  }
}

@layer components {
  .checkbox-label:has(input:checked) {
    @apply border-green-200 bg-green-100 bg-opacity-50;
  }
}

@font-face {
  font-family: "Montserrat Bold";
  src: local("Montserrat Bold"),
    url("./assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins"),
    url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: local("Poppins Bold"),
    url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins Medium";
  src: local("Poppins Medium"),
    url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Thin";
  src: local("Poppins Thin"),
    url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
}
